[2013-12-15 18:51] pierredup opened #2 "Upgrade to Bootstrap 3"

[2014-01-05 15:03] #2 closed, assigned to nobody

[2014-04-12 10:58] pierredup opened #4 "Add online payments option"
Add ability to create an configure payment gateways to allow a client to pay invoices online

[2014-04-12 11:37] pierredup opened #5 "All source files should have the meta header"

[2014-04-21 19:48] #5 closed, assigned to nobody

[2014-06-28 16:22] #4 closed, assigned to nobody

[2015-09-01 21:17] alejobit opened #61 "Invoice status "paid" with incomplete payment"
Sorry for my English, I noticed that when multiple payments are made on an invoice, this is labeled as "paid" without having completed the full amount that should be paid.

[2015-09-02 06:18] pierredup commented on #61
@alejobit Which version are you using? Also does it happen with any payment method or only when using a specific one?

[2015-09-02 12:57] alejobit commented on #61
@pierredup I just cloned the latest master branch a day ago. I used cash and bank transfer payment method. It also happens in the demo page.

[2015-09-02 14:54] #61 closed

[2015-09-02 14:59] pierredup commented on #61
Thanks @alejobit

[2015-09-02 15:22] alejobit commented on #61
Thanks to you for sharing this application, I'll keep trying and learning more about it.

[2015-10-16 16:58] ibasaw opened #75 "nginx error 502 Bad Gateway on /app_dev.php/"
in prod, no problem, but in dev, got nginx error 502

never got this problem before, all my websites works in dev with my nginx version 1.2.1

[2015-10-17 10:59] pierredup commented on #75
@ibasaw Can you please check in the Nginx log files for any errors?
Normally the main cause of this could be permissions on the cache directories, or a fatal error in the code somewhere. But the log files should have some indication on what caused the issue

[2015-10-17 17:19] ibasaw commented on #75
upstream sent too big header while reading response header from upstream

[2015-10-17 17:29] pierredup commented on #75
Can you please checkout the latest version on master and see if it fixes the issue

[2015-10-17 22:04] ibasaw commented on #75
ok, this was that. thank you !

[2015-10-17 22:04] #75 closed

[2016-11-28 08:54] pierredup opened #128 "View history of invoices/quotes"
Show history of all activity on quotes/invoices

[2016-11-28 08:57] pierredup opened #129 "Add custom due date to invoices"

[2016-11-28 08:58] pierredup opened #130 "Add late fee to overdue invoices"
When an invoice is overdue, a late fee should be added

A late fee must be configured based on either a fixed amount, or percentage of the original invoice amount.
Late fees should also be configurable, so the late fee can be applied for every E.G 7 days an invoice is outstanding

[2016-11-28 08:58] pierredup opened #131 "Manage multiple users"
an Administrator should be able to add new users that can log in and create clients/invoices/quotes etc.

[2016-11-28 10:27] pierredup opened #132 "Add global search"
Users should be able to search for clients, quotes, invoices and payments using a general smart search in the top bar

[2016-11-28 10:28] pierredup opened #133 "Allow clients to log in"
Client should be able to log in and view their invoices/quotes, make payments, update their details etc.

[2016-11-28 10:29] pierredup opened #134 "Import data from external applications"
Allow importing information from external applications to make migration easier

[2016-11-28 10:30] pierredup opened #135 "Add custom fields for clients"
Allow users to create custom fields that will be available when creating/updating a client

[2016-11-28 10:31] pierredup opened #136 "Add support for more email providers"
Currently only SMTP, mail, phpmail and gmail is supported.

We should add support for more email providers, E.G Mandrill and SendGrid

[2016-11-28 10:32] pierredup opened #137 "Add proper error when no data is found in grid"
When displaying an empty grid, a proper message should display instead of an empty grid

[2016-11-28 10:33] pierredup opened #138 "Select default client and contact when creating a new quote or invoice"
When creating a new quote/invoice, if there is only one client, select it by default.
And if a client only have one contact, select that contact by default

[2016-11-28 10:34] pierredup opened #139 "Set currencies per client"
Set a currency per client.
Whenever a new invoice/quote or payment is created for that client, their default currency should be used instead of the global site currency

[2016-11-28 10:34] pierredup opened #140 "Add different discount types"
Allow different discount types, E.G percentage or monetary value

[2016-11-28 10:35] pierredup opened #141 "Refund invoices"
Add ability to refund invoices

Invoices can be refunded when either a partial or full payment has been made.
Refund can not be more than the paid amount on the invoice.
Add a reason to refund, and mark invoice status as 'Refunded'.
Optional: Do a refund transaction on the payment gateway if it is supported (User must explicitly choose to refund transaction on payment gateway)

[2016-11-28 10:36] pierredup opened #142 "Add internal notifications"
Add internal notifications, E.G:

* New version of application is available
* Payments have been made (enable/disable)

[2016-11-28 10:37] pierredup opened #143 "Add custom prefix/suffix to quote and invoice numbers"
Add custom prefix or suffix to all invoice and quote numbers.

E.G INV

This will then be displayed everywhere where the invoice/quote number is shown (emails etc).
E.G INV13

[2016-11-28 10:37] pierredup opened #144 "Add extra info to contacts"
Add extra info to contacts, E.G title, position, type etc. to identify different types of contacts (I.E contact for billing, technical contact etc)

[2016-11-28 10:38] pierredup opened #145 "Address shows code for country instead of country name"
When viewing a client, the country is not properly formatted for each address

[2016-11-28 10:38] pierredup opened #146 "Add button to add a new address when viewing a client"
When viewing a client, add a button to add a new address

[2016-11-28 10:39] pierredup opened #147 "Send a test email when configuring email settings"
Allow to send a test email when configuring email settings to ensure email settings are working as expected

[2017-02-16 11:08] pierredup commented on #139
Closed by #148

[2017-02-16 11:08] #139 closed

[2017-08-22 13:37] pierredup commented on #140
This has been closed by #182

[2017-08-22 13:37] #140 closed

[2017-09-11 23:03] olmobuining opened #194 "Docker link is not working anymore."
I tried to go to the docker link in the readme file, but it gives a 404. I would gladly change it (PR), but I can't find the docker link for it.

[2017-11-05 00:12] stkrzysiak commented on #194
Could this be the docker [link](https://hub.docker.com/r/csbill/csbill/)?  There seems to [have been a name change. ](https://twitter.com/pdples/status/899971625122242566)

[2017-11-05 01:28] stkrzysiak commented on #145
I've started to look at this, should have something up in the next few days.

[2017-11-05 01:36] stkrzysiak opened #196 "Creating a client fails due to template loading issue."
This might have something to do w/ my environment but before I dig in on it thought I would note it.  When creating a client I get an error when it tries to send a notification:
`An exception has been thrown during the rendering of a template ("Warning: file_get_contents(http://127.0.0.1:8002/css/email.css?2.0.0-alpha2): failed to open stream: HTTP request failed! "). `

[2017-11-05 11:07] pierredup commented on #194
@stkrzysiak yes that is the old name (and old link for docker). I haven't published the new image for version 2 under the new name yet, but will get it done soon

[2017-11-12 01:39] stkrzysiak commented on #196
So I stood up a new instance today(for other reasons) and the same thing happened. I think this is a proper bug and I'll dive in on it next window of time I have.

[2017-11-12 08:02] pierredup commented on #196
Thanks @stkrzysiak, I did try and reproduce this, but couldn't. I'll try on a clean instance. Can you please copy all the steps that you followed before getting the error

[2017-11-13 19:41] #145 closed

[2017-11-19 12:29] pierredup opened #200 "Combine quotes into single invoice"
Add option to generate one invoice for multiple quotes

[2017-11-19 12:31] pierredup opened #201 "Add setting to not automatically send invoice when a quote is accepted"
When accepting a quote, the invoice is generated and emailed immediately. But this needs to be configurable, so that the invoice can be sent manually at a later stage

[2017-12-03 13:34] stkrzysiak commented on #196
I too tried to reproduce this up last night but couldn't get past the install step of the setup(endless loading), then this AM I say an error like this:
`SQLSTATE[HY000] [2002] No such file or directory in . (which is being imported from "/private/tmp/SolidInvoice/src/ApiBundle/Resources/config/routing.yml"). Make sure there is a loader supporting the "api_platform" type.`
My local dev environment

[2017-12-15 12:19] #131 closed

[2018-01-02 17:46] rcorzogutierrez opened #206 "PHP Version 7.1.11 not working"
![image](https://user-images.githubusercontent.com/5765375/34493646-d2eead84-efba-11e7-9851-51504725d2cb.png)

[2018-01-03 19:05] pierredup commented on #206
The minimum required PHP version has recently been bumped to 7.2. All the docs has not yet been updated, but I might consider dropping it back to >= 7.1

[2018-02-05 15:42] #206 closed

[2018-03-29 10:31] pierredup commented on #194
The docker image has been pushed to https://hub.docker.com/r/solidinvoice/solidinvoice/

[2018-03-29 10:31] #194 closed

[2018-03-29 21:11] mohitjawanjal commented on #138
Can I claim this issue to work on it?

[2018-03-30 04:19] pierredup commented on #138
@mohitjawanjal sure, go ahead!

[2018-04-05 08:56] pierredup opened #210 "Rewrite UI"
* Rewrite the frontend using Vuetify and a material theme
* Remove MarionetteJS and RequireJS
* Replace RequireJS with Webpack build system

[2018-04-18 08:17] hounded opened #211 "install fails"
I really want this to work, why did you make it so hard?

## Require php7.2

[code]
A quick google shows that something is missing with 7.2, why require 7.2 if you can't get stability?

## Install warning and js failure
Now i'm not very savy with js, and would rather not scratch around and fix this

[code]
Get this after I input the details for the db and the smtp, which I already set in params?

[2018-04-18 09:20] #211 closed, assigned to pierredup

[2018-04-18 09:38] hounded commented on #211
Cheers for the quick reply!, I have a full docker-compose configuration set up to work with the master branch I will push and share with you once I get everything running

[2018-04-18 09:46] hounded commented on #211
It is running smoooth, I will no doubt be contributing to this project, what a great job!!

[2018-04-18 10:01] pierredup commented on #211
Thanks!

[2018-04-18 10:06] hounded opened #212 "docker-compose"
Hi I have forked and modded docker-symfony to run with solidinvoice
Check it out here
https://github.com/hounded/docker-symfony.git

## Install
#### in directory of your choice
```git clone https://github.com/hounded/docker-symfony.git```
```git clone https://github.com/SolidInvoice/SolidInvoice.git```
```cd docker-symfony```
#### create a new .env with the parameters you require and run
```docker

[2018-04-18 10:19] hounded opened #213 "uncaught exception: Callback specified for event modal:save is not a valid callback"
Hi if I try to delete a invoice with the delete but I get this error,

if you give me a bit of a pointer on where I would find this, I can try and fix it

[2018-04-18 10:33] pierredup commented on #210
No, the idea is to keep the backend working as it is currently, with just the JS and CSS moving to a different framework. Api platform is used to create an external api endpoint for integration with other apps.
VueJS has a lot of similarities with React and Angular (https://vuejs.org/v2/guide/comparison.html#React), so it should feel a bit familiar when working with it

[2018-04-18 10:59] pierredup commented on #213
I think the issue here is due to the upgrade of the lodash version.
In previous versions of lodash, you could bind a callback function to a specific scope, but that was removed in later versions. Some of the code still relies on this functionality (Especially in [modal.js](https://github.com/SolidInvoice/SolidInvoice/blob/master/src/CoreBundle/Resources/public/js/modal.js#L52-L60) where `_.each` e

[2018-10-12 08:29] #213 closed

[2018-10-16 21:06] LillyMich commented on #138
Hi, I see that this issue is still not solved. I would like to work on it, can I?

[2018-11-06 10:17] carlcheunghk opened #225 "Need some help for developer installation/"
Hi, I am a newbie in programming and I have background in accounting. I would like to contribute in this project. Sadly, I have trouble to install.
I have learnt a bit C, Java and Python. This is the first time I learn PHP and Nodejs(for this project). So my trouble could be related to incomplete install.
I am using Ubuntu 18.04
I can confirm I have composer, php and nodjs+npm installed.
When I fo

[2018-11-06 10:21] pierredup commented on #225
Hi @carlcheunghk!

Thanks for your interest in the project.

It seems like the vendor packages hasn't been installed in your system yet.
Have you run `composer install` (or `php composer.phar install` if you downloaded the composer.phar file)?
Can you let me know what output you get after running one of the commands?

[2018-11-06 18:19] #138 closed

[2018-11-08 14:49] carlcheunghk commented on #225
You are right about composer install failed.
I have been trying to fix it myself. Unfortunately, I can't.
Inside folder ~/SolidInvoice, I ran `composer install` and get the following error.
[code]
I am able to identify that I lack symfony/routing package.
I then try to install it with
`composer require symfony/routing
`
But I got bombed with errors : https://pastebin.com/eMVd09aA
The error tells m

[2018-11-09 07:38] pierredup commented on #225
Thanks for the detailed report. There was a bug fixed in the latest version of composer (composer/composer#7764) that caused some issues when trying to install the dependencies.
I have a pushed a fix for this to the master branch. Please update your checkout with the latest changes and try installing the dependencies again

[code]

[2019-02-20 13:25] #225 closed

[2019-02-21 17:42] #201 closed

[2019-05-02 14:14] pierredup commented on #196
Closing due to inactivity and inability to reproduce the issue. If you still experience the same issue, please re-open this issue.

[2019-05-02 14:14] #196 closed

[2019-05-04 12:35] #212 closed

[2019-05-12 16:15] alhiro opened #260 ""SOLIDINVOICE_ENV" environment variable is missing"
I am interesting in this project. WHen i am trying run command
php bin/console assets:install --symlink web
show display error "Fatal error: Uncaught RuntimeException: Environment is not set up correctly. "SOLIDINVOICE_ENV" environment variable is missing. in C:\xampp\htdocs\invoice\web\app.php:27 Stack trace: #0 {main} thrown in C:\xampp\htdocs\invoice\web\app.php on line 27

I have get error abo

[2019-05-12 17:28] pierredup commented on #260
Thanks for reporting this. As part of the repository, there is a `.env.dist` file, which you can just rename to `.env`. This should fix the error for you (this file actually needs to be automatically created, but is broken currently. It will be fixed soon)

[2019-05-14 01:43] alhiro commented on #260
It's Working now. But there is new item missing in web folder. No css file and others. I will create new issue.
Thank you.

[2019-05-14 01:43] #260 closed

[2019-05-22 10:03] arfeen opened #263 "API Tutorial"
Hi

Could not find any other place to post this question thats using this platform.

How could we consume SolidInvoice API ? Is there any tutorial online ?

[2019-05-23 11:00] pierredup commented on #263
Hi @arfeen

We are busy updating all the documentation to add more useful information, but this will take some time. To view some api documentation, you can navigate to `/api/docs` of your installed SolidInvoice instance. This should give you an overview of the available endpoints.
When you are logged, you can click on your username in the top menu, then choose `API Tokens`, to generate an authent

[2019-05-23 11:03] arfeen commented on #263
Thanks @pierredup I have got the documentation in /api/docs and I think this is quite enough.
Thank you for the help.

[2019-05-23 11:03] #263 closed

[2019-06-25 19:05] psaikali opened #269 "Symlink issue with nginx"
**Describe the bug**
I'm having JavaScript errors during the installation process, on the /install/process/ page. By inspecting my console, I notice that accessing the `/bundles/solidinvoicecore/js/lib/require.js?2.1.0-dev` returns a 403 error.

I did the `php bin/console assets:install --symlink web` command on my server successfully.

![Capture 2019-06-25 à 21 02 31](https://user-images.githubus

[2019-06-26 07:52] pierredup commented on #269
Hi @psaikali

Can you try running the command without the `--symlink` flag?

[code]

This should copy all the files to the relevant directories, instead of creating symlinks.

(Note that any changes you make to js or css files in the src directory, won't then reflect in the frontend, you will need to run the `assets:install` command again after any change)

[2019-06-26 10:29] psaikali commented on #269
Yeah, thanks a lot @pierredup, ça a marché niquel :)

Maybe worth mentioning in the docs?

Cheers mate

[2019-06-26 10:29] #269 closed

[2019-07-23 10:13] coderboy-ss opened #279 "Installation Issue"
http://solidinvoice.net/install/system_check

After the installtion at the time of system check I am stuck here...
Please some body give me suggestion to solve this...

I am working on
OS: Windows 7
LAMP: XAMP for windows.
PHP VERSION : 7.3.1

![image](https://user-images.githubusercontent.com/53108285/61704068-92086480-ad60-11e9-82bc-e46abff5e5df.png)

[2019-07-23 10:15] pierredup commented on #279
@coderboy-ss Can you scroll down to the bottom of the screen? There should be a button where you can continue to the next screen

[2019-07-23 11:50] coderboy-ss commented on #279
no the page ended at this only no scrolling available on this page.

[2019-07-24 08:03] coderboy-ss commented on #279
I had tried to reinstall all the symfony packages to solve the requirement issue but it doesn't working at all.

[2019-07-28 23:26] Superigi commented on #279
Zoom out and it will appear at the bottom. The scrollbar is disabled on the page for some reason.

[2019-07-29 05:12] coderboy-ss commented on #279
![solidinvoice_js_error](https://user-images.githubusercontent.com/53108285/62023108-10e02000-b1ed-11e9-9842-e2a93f922e89.png)
![solidinvoice_installation](https://user-images.githubusercontent.com/53108285/62023110-10e02000-b1ed-11e9-944c-61fef52791d9.png)

okay, I have reach to database installation page but it didn't creating any tabels I have waited upto 10 minutes and some js and fontawesome

[2019-07-29 08:36] pierredup commented on #279
I will investigate the scrollbar issue and see if I can replicate it and provide a fix.

@coderboy-ss With the error on the database installation page, did you run `node_modules/.bin/gulp` after setting the site up? Or did you install from the archive from a release?

[2019-07-29 10:48] coderboy-ss commented on #279
yes i have run node_modules/.bin/gulp after setting the site up but i didn't installed it from the release archive.

[2019-07-29 21:35] Superigi commented on #279
I'd start again from scratch.

Start in your home directory and then:

- Clone the project (`git clone https://github.com/SolidInvoice/SolidInvoice.git` or get a release `wget https://github.com/SolidInvoice/SolidInvoice/releases/download/2.0.3/SolidInvoice-2.0.3.zip`)
- Enter the project directory (`cd SolidInvoice`)
- Let composer install vendor packages (`composer install`)
- Install web assets

[2019-07-31 16:11] pierredup commented on #279
@coderboy-ss can you please try again with the latest changes and let me know if you still experience any issues with the scrollbar

[2019-08-01 05:09] coderboy-ss commented on #279
Okay ya sure i will try to install the application from scratch!

[2019-08-02 10:40] coderboy-ss commented on #279
I tried to install the application again form scratch i followed all the instructions but only scrolling issue is fixed, again font awesome icons not loading, at requirement check page showing again all that requirement issues, and if i continue to next page after filling the database config page, Page showing Installing Schema Creating Database but nothing happens.

I think there is issue of OS b

[2019-08-02 11:26] pierredup commented on #279
Thank you for the feedback. I will do some testing on Windows to find and fix the issue

[2019-08-02 13:48] coderboy-ss commented on #279
Yupps sure thank you.

[2019-08-06 00:04] kevinlekiller opened #282 "Installing from the distribution package runs in dev mode with no javascript."
**Describe the bug**
I've installed SolidInvoice using the instructions here https://docs.solidinvoice.co/en/latest/guide/getting_started/downloading.html#installing-distribution-package

When going to http://localhost/app.php, I can go through the setup, everything looks good, the database gets created, no errors / warnings / etc.

When I get to the http://localhost/app.php/login page, there is n

[2019-08-14 09:18] pierredup commented on #282
Thank you @kevinlekiller. I have rebuilt and uploaded the distribution package for the latest version to completely remove dev mode.

[2019-08-14 09:18] #282 closed

[2019-08-14 11:11] kevinlekiller commented on #282
Thanks @pierredup !

[2019-10-01 20:51] JakeVdub commented on #137
I'll give this a shot!

[2019-10-01 21:04] pierredup commented on #137
@JakeVdub Perfect! For reference, we are using [Backgrid](https://backgridjs.com/). Currently, the empty grid just says `no data`, but it should display a more user-friendly message.
If you require any assistance, let me know.

[2019-10-03 17:52] amandaroark commented on #279
Hey there!

When I get to the step "Install Web Access" I keep getting this error:

php bin/console assets:install --symlink web
PHP Warning:  require(/home/swxadmin/SolidInvoice/app/../vendor/autoload.php): failed to open stream: No such file or directory in /home/swxadmin/SolidInvoice/app/autoload.php on line 18
PHP Fatal error:  require(): Failed opening required '/home/swxadmin/SolidInvoice/ap

[2019-11-21 05:31] pierredup commented on #279
The latest changes in the master branch includes a few changes to improve the asset handling. This includes replacing Gulp and removes some of the manual commands that needs to be run. You're welcome to test it and let me know if you still experience any issues.

[2019-11-25 06:43] Tepsiya opened #289 "Issues with Installation"
Using latest verion of SolidInvoice

When installing on Hosted environment - it passes the system check but when getting to DB setup it fails.
DB connection is correct and **DB exists already**, but fails to create tables and schema.

Note: in some hosted environments DB creation is handled only through admin page.

to reproduce ..
create a table on mysql db and use this in the db setup and connec

[2019-11-25 07:50] pierredup commented on #289
@Tepsiya Do you perhaps have a screenshot of the error or can you please paste the error message that you are seeing?

Installing on an existing database shouldn't be an issue, as it will just skip the database creation if the database exists already.
Can you please check that your database user has the permission to create tables in the database?

[2019-11-26 06:38] Tepsiya commented on #289
the user is the correct one I used to setup the DB.. see below issue
![solidinvoice3](https://user-images.githubusercontent.com/25186716/69605165-b5e5fa80-101f-11ea-9e2f-2ed6628f3c1d.JPG)

[2019-11-26 13:49] Tepsiya commented on #289
is it possible to create tables and content via script and will SolidInvoice skip this step then?

[2019-11-29 09:39] baden03 commented on #279
Installed from the latest .zip file... following assets are missing
![Screen Shot 2019-11-29 at 11 38 28](https://user-images.githubusercontent.com/835758/69859505-f3a38700-129c-11ea-9a94-57fd11f02e14.png)

[2019-11-29 09:53] pierredup commented on #279
@baden03 Which zip did you download? The one at https://github.com/SolidInvoice/SolidInvoice/releases/tag/2.0.3?
I just checked that version, and no assets are missing. It might be an issue with the web server rewrites. Can you please share which web server you are using and what your config looks like

[2019-11-29 10:53] baden03 commented on #279
@pierredup yes, the latest .zip file clearly linked to from https://solidinvoice.co/ under the download link. As you can see the .zip file does not contain a 'fonts' folder
![Screen Shot 2019-11-29 at 12 00 19](https://user-images.githubusercontent.com/835758/69860893-d8864680-129f-11ea-8c47-6d8aa900fc8d.png)

The main folder and it's contents has the correct owner:group and permissions on the web

[2019-11-29 11:09] pierredup commented on #279
The fonts as other assets is inside the `web` folder, so you should set the web folder as your document root.
It might be an issue with the top level rewrites, I will investigate that, but in the mean time you can try using the web folder as the document root and let me know if there are still any issues

[2019-11-30 12:34] baden03 commented on #279
ah-ha... the web folder! This very important detail seems to be missing from the documentation. Thank you, I'll give it another try today.

[2019-12-12 01:34] pkoniecz opened #293 "Problem with item price value"
Hi,

I installed solidinvoice ver. 2.0.3 (but in footer is still 2.0.3) from DockerHub. After short testing I noticed one problem, that when you set value of invoice item (i didn't check quotation one) less then 1 (eq. 0,65) then price is saved to DB as 0.

In the meantime I check DB structure and noticed that all fields in DB connected to item amount are defined as INT - is it ok ? Shouldn't be D

[2020-01-08 22:38] Tepsiya commented on #289
any news on this ?

[2020-01-14 14:55] kinan53 opened #294 "Add a guide on "How to install solid invoice on localhost""
I saw this Project and this is very useful ! but the problem is that there is no guide anywhere which contains detailed instructions  of **How to install this on a localhost or on XAMPP** !
that would be fantastic if someone can help me regarding this ! i see potential in this project.... please make it worth of your hard-work guys ! thanks !

[2020-01-14 16:14] pierredup commented on #294
@kinan53 Thank you for your interest in this project :)

Installing on localhost works pretty much the same as any other environment. You can download the latest release from https://github.com/SolidInvoice/SolidInvoice/releases (download the zip file with the name `SolidInvoice-x.x.x.zip` with `x.x.x` being the version number you want to download), extract it to a directory on your local machine,

[2020-01-15 06:41] kinan53 commented on #294
ok i will try it ...

On Tue, Jan 14, 2020 at 9:44 PM Pierre du Plessis <notifications@github.com>
wrote:

[2020-03-27 21:05] meakajon opened #296 "Logo on reverts on settings save"
Hi,

When I first update the logo in settings. It will save an it is ok.

But then if I change any of the settings and I done include a logo it will revert the logo back to the SolidInvoices logo.

Very frustrating...

[2020-03-29 16:58] pierredup commented on #296
Thanks for reporting this @meakajon, this has been fixed in #298

[2020-03-29 16:59] #296 closed

[2020-04-02 06:06] pierredup opened #302 "Add second tax to invoices"
Canada, for example, has 2 taxes (GST and PST). Add option to allow multiple taxes on invoices

[2020-04-03 15:02] meakajon opened #303 "Invoice Edit"
When editing a previously created invoice, the Qty value is set to 1 instead of the amount that was entered in the originally created invoice. For example I have added to an invoice a monthly charge, so for the year I have set the Qty to 12. But on edit of the invoice it sets this to 1 instead of 12.

Steps to reproduce the behavior:
1. Create New Invoice
2. Add Item with a Qty more than 1
3. Save

[2020-04-03 15:04] meakajon commented on #296
Great, thanks for fixing. I did look at the Code but I am unfamiliar with the way the project is setup.

[2020-04-03 15:19] meakajon commented on #296
I am having problems running the new version (2.0.4) I noticed that you have switched the OS to linux/arm from linux/amd64. So it has broken it for me.

[2020-04-13 01:20] elvirmuslic opened #306 "How to donate translation?"
What platform do you use for localization, I'd like to donate translations for my own language. i.e. Serbian/Bosnian/Croatian/Montenegrin as they are all the same and it would provide a great opportunity to all of these countries to use such an awesome tool!

[2020-04-23 07:31] pierredup commented on #306
Hi @elvirmuslic.

Currently, we don't use any specific platform for translations. All translation files are part of the codebase.

If you want to add new translations, you need to copy the English translation files (E.G copy [src/ClientBundle/Resources/translations/messages.en.yml](https://github.com/SolidInvoice/SolidInvoice/blob/master/src/ClientBundle/Resources/translations/messages.en.yml) to

[2020-04-26 18:43] elvirmuslic commented on #306
Okay I have created a platform here:
https://www.transifex.com/solidinvoice/solidinvoice/dashboard/

Everyone should be able to donate and change the translations I will manage
The license is for a opensource project, with the MIT agreement.

[2020-04-26 18:43] #306 closed

[2020-04-26 19:29] pierredup commented on #306
Thank you @elvirmuslic. Do you mind to please move the translations to a different user name? So that we can keep the SolidInvoice username for this projects with access for all members of this project. I can then set it up and be able to better integrate it with this project and manage the various resources under a single organization.

[2020-04-26 19:46] elvirmuslic commented on #306
I mean, we can do that. However, I can give you all the permission from my
account and the public are already set so that anyone can add a
translation.
Just one yhing would be nice after to install it automatically into the
repository.

On Sun, 26 Apr 2020, 21:29 Pierre du Plessis, <notifications@github.com>
wrote:

[2020-04-26 20:49] pierredup commented on #306
I have set up a project at https://www.transifex.com/solidinvoice-app/solidinvoice-app/ with automatic integration with the repository and all the relevant project information. I would love to move this project to use solidinvoice/solidinvoice instead. Thank you for helping to translate this project.

[2020-04-29 19:55] mrespin opened #307 "list do not show all invoices"
Hiya,

I just installed and testing SolidInvoice. Therefore, I am not sure if this is a bug.
I created 3 invoices, of which 2 are recurring (ID 1 and 2)
When I list invoices I can see only one invoice ID 3 (even pending invoices number is 3)
however, if I type in the dress bar invoices/view/1, 2 and 3, I can see all 3 invoices.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new rec

[2020-04-30 07:02] pierredup commented on #307
Hi @mrespin. By default, recurring and archived invoices are excluded from the list, so that it doesn't clutter the list. You can switch between active/recurring/archived invoices by clicking the relevant button on the top right of the grid

![Screenshot 2020-04-30 at 08 59 34](https://user-images.githubusercontent.com/144858/80681560-37efb900-8ac1-11ea-881b-e44d4244db67.png)

[2020-04-30 18:21] mrespin commented on #307
Hi,
Thanks for your help.
The list is empty then:
![image](https://user-images.githubusercontent.com/32313960/80745156-c2fb9e00-8b17-11ea-9d46-12f7f69cea1c.png)

[2020-04-30 21:44] elvirmuslic commented on #306
That works too, okay, I'll go ahead then and add translations for Serbian.

Great work there! Make sure to reference it on the readme.md.

[2020-05-01 16:21] mrespin commented on #307
Hi,
This is wonderful work.
However, if the bug is unexpected, I am providing with login details to debug the problem.
Please let me know ASAP, as the droplet is on the way to destroy.
Therefore, do what you need to do:
host: 64 dot 227 dot 41 dot 36
secret: SolidInvoice1234
user: per screenshots
Thanks.

[2020-05-02 10:24] pierredup commented on #307
Thank you @mrespin, I had a look and can confirm that the invoices does not show as expected. I will investigate the issue en provide a bug fix soon.

[2020-05-15 03:16] elvirmuslic opened #310 "File directory for SolidInvoice Data"
It is a much needed feature that we should be able to place and save the data into a directory of our choosing for multiple reasons, using external data, backup, security.

Also please respond on transifex.

[2020-05-15 07:28] pierredup commented on #310
Hi @elvirmuslic. What data do you need to store in a different directory?
Currently, SolidInvoice stores all information in the database, nothing is persisted to the file system. The only information that is stored on the file system, is cache, and the configuration file.

[2020-05-15 07:30] elvirmuslic commented on #310
Lets say I want it to an external location, a shared drive or similar.

On Fri, 15 May 2020, 09:29 Pierre du Plessis, <notifications@github.com>
wrote:

[2020-05-15 08:37] pierredup commented on #310
It is possible to install to a shared drive currently, as long as your webserver is set up to point to the shared drive

[2020-05-16 14:25] #310 closed

[2020-05-16 16:00] elvirmuslic opened #311 "Ocramius or Install Error"
If you get an error similar to this one **on** `composer install` or `composer update`.
`
PHP Parse error:  syntax error, unexpected 'string' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in /home/money.xxx.com/public_html/vendor/ocramius/package-versions/src/PackageVersions/Installer.php on line 33`

or

`Parse error: syntax error, unexpected 'string' (T_STRING), expecting functi

[2020-05-16 16:02] elvirmuslic commented on #311
This can be a common problem and will be resolved with the following command.

`composer require "ext-gd:*" --ignore-platform-reqs`

It will autochoose the **ocramius** version for you that is compatible with most systems.

[2020-05-16 16:02] #311 closed

[2020-05-16 20:01] pierredup commented on #311
Using `ignore-platform-reqs` is not really recommended, as you might get dependencies that are incompatible with your system. The above error will only happen of you run a `composer update` with PHP 7.4, and then run the application on a lower PHP version. Currently this application limits the PHP version to 7.3, which means you won't get any dependency that depend on PHP 7.4, but if you ignore th

[2020-05-16 20:46] elvirmuslic commented on #311
I understand, however, on my digitalocean and same as docker I couldnt
install it.

On Sat, 16 May 2020, 22:01 Pierre du Plessis, <notifications@github.com>
wrote:

[2020-05-18 13:33] pierredup commented on #289
This should now be fixed with the latest changes in the master branch

[2020-05-18 13:33] #289 closed

[2020-05-23 21:33] Lehj14 commented on #307
Hi Sir @pierredup , i would like to help on this proj you are doing to fix the bugs, I dont have a way to contact you to ask for permission so im messaging you here.

[2020-05-25 09:54] pierredup commented on #307
Hi, @Lehj14. You are welcome to send a [Pull Request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) for any bugs that you want to fix or features you want to add.

[2020-05-25 21:13] pierredup commented on #210
After some more consideration and recent changes in #312, I've decided to not rewrite the frontend Using VuetifyJs at the moment.

[2020-05-25 21:13] #210 closed

[2020-07-06 19:49] esmm90 opened #319 "problem with nginx"
**Describe the bug**
I have installed this app on linux stage with nginx and php 7.4, after following the described proccedure (composer install, npm run build for prod) try to access from browser but it shows a 403 forbidden. In logs it shows for a  "directory index of "/path/to/the/app/solid_invoice/web/" is forbidden"
I did a copy-paste of your model of vhost on instructions.

Am I missing some

[2020-07-06 20:55] pierredup commented on #319
@esmm90 Did you use the config at https://docs.solidinvoice.co/en/latest/guide/getting_started/webserver.html#configuring-nginx? And did you update the paths to match what you have on your machine?

Can you please copy your Nginx config here, as well as the path you used to install SolidInvoice

[2020-07-06 21:00] esmm90 commented on #319
Sure!
My vhost on nginx for this app
![image](https://user-images.githubusercontent.com/50113003/86642560-605ccd80-bfb2-11ea-9d60-56e50b8a67dd.png)

The path to the app is the default nginx directory, /usr/share/nginx/html/solid_invoice/

[2020-07-06 21:04] pierredup commented on #319
Thanks @esmm90.

What happens when you access your local server without any sub-path? (E.G just accessing `http://192.168.20.80/` instead of `http://192.168.20.80/solid_invoice/web`).

[2020-07-06 21:04] esmm90 commented on #319
The permissions are 777 and group by nginx:nginx

[2020-07-06 21:07] esmm90 commented on #319
That is the default nginx site, I have apps running under this type:
http://192.168.20.8/app1
http://192.168.20.8/app2
and so...

I put this one on another vhost to avoid conflicts and to do exactly like doc says

[2020-07-06 21:20] pierredup commented on #319
The Nginx config you have shared is set up to act as a default config. So it most probably interferes with your other configs.

There are 2 options that you can try:

## 1. Use a domain alias for your VHost

This will allow you to use a custom test domain for your SolidInvoice instance.
**Note** the domain you want to use must point to your local web server.
So if you want to use `solidinvoice.loc

[2020-07-06 21:20] #319 closed

[2020-08-02 09:22] JohnyProkie opened #323 "RuntimeException during installation"
**Describe the bug**
During installation, exception is thrown:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. In terminal type: `composer create-project solidinvoice/solidinvoice`, feel free to specify any version 2.0.0 and above
2. Provide parameters, feel free to just skip all of them (didnt find any change when giving in different combinations)
3. See error

**Expected behavior**
I

[2020-08-03 10:34] pierredup commented on #323
Hi @JohnyProkie. The current latest release isn't compatible with PHP 7.4 (actually for a production environment it should work, but in development mode notices gets converted to exceptions).

You can try switching to a different PHP version (7.3 and below should work) or you can switch to the `master` branch which supports PHP 7.4.

[2020-08-03 17:57] JohnyProkie commented on #323
This wasnt really clear on the first sight, so I'm thinking of creating MR to 2.0.4 restricting PHP version in composer for both require and require-dev.
What do you think?
Should be then backported to versions between 2.0.0 and 2.0.3, including.

[2020-08-03 18:03] pierredup commented on #323
Changes cannot be backported to already released versions. Older versions cannot be removed and recreated. So any change can only go into the next release, which will be 2.0.5 then.

Any contribution would be welcome. But I think most of the errors come from dependencies. So first prize would be to upgrade the dependencies to versions that include the proper fixes (I'm sure a simple `composer upda

[2020-08-15 18:46] CookieCr2nk opened #325 "docker "exec format error" with docker tag 2.0.4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Error Message from command "docker-compose logs -f" after docker-compose up -d

`solidinvoice_1  | standard_init_linux.go:211: exec user process caused "exec format error"`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Server (please comple

[2020-08-19 17:21] Ghost173 opened #326 "An exception has been thrown during the rendering of a template"
i download from the git then

$ git clone https://github.com/SolidInvoice/SolidInvoice.git
Then go into the repository directory

$ cd SolidInvoice
Now you need to get composer

$ curl -s http://getcomposer.org/installer | php
When composer is finished downloading, you can install the required dependencies:

$ php composer.phar install
After all the dependencies has been installed, the next step i

[2020-08-19 17:32] pierredup commented on #326
The readme is not yet updated for the next version. Can you please run `npm run build`? That should fix the error

[2020-08-28 19:54] Daggobart opened #327 "install solid invoice"
I am very new to this,
I have download solid invoice and uploaded to plesk, it tells me to install composer. I downloaded composer but have no idea where even to begin to install it. I have read tutorials, they just say type whatever code, I have no idea where to type this code.
Also have the problem with the file connected to symphony (all I can remember what file it is - something about a newer

[2020-08-29 06:56] pierredup commented on #327
Hi Vici.

I think the best option would be to download and install one of the releases available at https://github.com/SolidInvoice/SolidInvoice/releases. When you download one of the zip packages, there is no need for composer or any other steps. You should just unzip on your server, and configure your webserver according to the docs.

[2020-08-30 10:34] Daggobart commented on #327
Hi Peirre

Thank you for your reply, I did download the source code from github but it
keeps telling me I need this composer.  Also please can you tell me how
exactly to configure the webserver, meaning where do I type in the code
explained in the tutorials.  I have tried using cmd for mysql and mariadb
but nothing happens.
I am very new to this so really dont know where to type in what. Do I use

[2020-08-31 06:21] Daggobart commented on #327
Dear Peirre

Please may I make a suggestion?

People like me are always looking for alternate solutions but we do not
come from a tech or coding background.  Most people give up and use wix,
weeble, squared space etc. instead of continue to learn how to do this.  I
have booked marked all the solidinvoice tutorials and the github
instructions.
The github instructions differ by creating a container

[2020-08-31 07:19] pierredup commented on #327
Hi Vici

Thanks for the suggestions, I agree there is some room for improvement on the documentation.
If you download one of the releases, then there is no commands that you need to run or any docker setup that you require. They are all different ways to install SolidInvoice.

If you are a developer and want to work on the code, then you would clone the repository and run the commands. If you are

[2020-08-31 10:50] Daggobart commented on #327
Hi Pierre

H
I have downloaded the package from the github link, uploaded to plesk and
extracted, created a solidinvoice database, then click on the folder in
plesk file manager to open in browser - I get http error 500. I used the
zip file from the github link. The tar.gz file gives me the same error.

When I type in the browser search (using chrome) the following -
https://genixinc.co.za/SolidIn

[2020-08-31 11:07] pierredup commented on #327
Please do not send confidential information like usernames and passwords on this thread. It is publicly visible and any person can steal your credentials. I would suggest you immediately change your plesk password.

[2020-08-31 11:27] Daggobart commented on #327
Oh dear I am sorry, I just don/t know how else to sort this out. I will
change it.

On Mon, 31 Aug 2020 at 13:08, Pierre du Plessis <notifications@github.com>
wrote:

[2020-08-31 11:47] Daggobart commented on #327
Hi Pierre

May I email you on your pc service email?

Regards

Vici

On Mon, 31 Aug 2020 at 13:27, Vici Kiehm <vici.kiehm@gmail.com> wrote:

[2020-10-11 10:51] davidmpaz opened #337 "Can not get up and running development environment"
Hi,

thanks for this project!

**Describe the bug**

After forking and cloning the repository can not build docker containers. In: `docker-compose up -d` i get:

[code]

**To Reproduce**

Steps to reproduce the behaviour:
1. Fork the repository
2. docker-compose up -d

Containers are not built successfully

**Expected behaviour**

Containers are built and started.

**Desktop (please complete the f

[2020-10-11 10:59] davidmpaz opened #338 "Allow to use uuid or other strategy for Invoice/Quote id in templates"
Hello,

thanks for this project. I would like to put some suggestions into considerations.

**Is your feature request related to a problem? Please describe.**

I, as user would not like to show the Invoice/Quote IDs, which are auto increments. This reveals too much data for my taste about the system and also how many Invoices do i have generated so far. I would like that to be avoid as much as pos

[2020-10-12 05:29] davidmpaz opened #339 "Notice: Trying to access array offset on value of type null"
Hello,

thanks for taking care of this project.

**Describe the bug**

It seems SolidInvoice is using a version with buggy behaviour of `doctrine/annotations` see https://github.com/doctrine/annotations/issues/273 this same bug is also the root cause of #326

in DocParser.php line 1002
at DocParser->Identifier()in DocParser.php line 687
at DocParser->Annotation()in DocParser.php line 663
at DocPar

[2020-10-12 07:24] pierredup commented on #339
Thanks, @davidmpaz, but this should already be fixed in the master branch. Which branch are you using when you get this error?

[2020-10-12 07:41] davidmpaz commented on #339
Hi, thanks for answering. I was using the release tag v2.0.4. I will try `master` today evening. I will provide feedback  then.

[2020-10-12 14:48] davidmpaz commented on #339
Hi, you were right. I clone the master branch and the problems is gone. More likely that the linked issue in this thread can be closed also.

Thanks
Best regards,
David

[2020-10-12 14:48] #339 closed

[2020-10-12 15:21] davidmpaz commented on #133
Hello,

This from my point of view is one those features that should be promoted to be done  with higher priority. Any plan to do this soon? Do you need help on addressing it?

Another question please. How it is thought currently for marking an invoice as paid? I have make an small test by creating a Quote, accepting it to have the Invoice created, then i see the "Pay Now" button but as of this is

[2020-10-12 16:06] #327 closed

[2020-10-12 16:07] pierredup commented on #326
@Ghost173 This should already be fixed in the master branch. If you still get an error, please feel free to re-open the issue.

[2020-10-12 16:07] #326 closed

[2020-10-12 16:25] davidmpaz opened #341 "After moving to webpack css directory is empty after yarn build"
**Describe the bug**
After `yarn build` the `web/css` directory is empty since all assets are generated into `web/static`referenced from `web/static/manifest.json`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. yarn && yarn build
3. Dir is empty

**Expected behavior**
All templates referencing assets in directly from `css` should be adjusted either using `asset()` function or

[2020-10-12 17:08] davidmpaz commented on #341
Something like this should do the job:

[code]

I will try to fix my dev env, working directly on server is not efficient ;)

[2020-10-13 09:12] MZMohamed opened #342 "Quantity loses value on Edit screen"
**Describe the bug**
When editing an invoice with quantities more than 1, the quantities would reset to 1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Invoice
2. Click on any invoice with a quantity more than 1 to open it.
3. Click the Edit button on top.
4. The quantities that were more than 1 are now set to 1.

**Expected behavior**
The quantities should hold their value when clic

[2020-10-17 06:13] pierredup commented on #342
Hi @MZMohamed. Thank you for the report. This should already be fixed on the master branch.

[2020-10-17 20:23] pierredup commented on #337
Fixed in #343

[2020-10-17 20:23] #337 closed

[2020-10-17 20:36] pierredup commented on #323
The dependencies have been updated in d7eb0c487dbc92e8bd658bf7d5c6de190dcf9359, so this error should now be gone on the master branch

[2020-10-17 20:36] #323 closed

[2020-10-18 18:49] #341 closed

[2020-10-21 20:21] pierredup commented on #133
This is something that I would like to do soon, but it's a fair amount of work and I don't have much time to spend at the moment, so I can't give an ETA when this will be done. Any help will be appreciated, but since this is a lot of work, I would suggest starting small and maybe open some discussions on how to approach it

When sending an invoice through email and you have configured payment gate

[2020-10-22 04:19] thicolares commented on #303
@pierredup can you assign this one to me? I was able to reproduce it.

[2020-10-22 05:59] pierredup commented on #303
Thanks, @thicolares!

[2020-10-22 06:00] pierredup commented on #342
Closing as duplicate of #303;

[2020-10-22 06:00] #342 closed

[2020-10-22 12:16] thicolares commented on #303
I have faced two issues while installing Node dependencies after creating the container from the local Dockerfile.
This is how I have solved them so far:

### 1. admin-lte@3.0.5 install
[code]

Container:
[code]

Fixed this way:
[code]

I ended up updating npm too: `npm install npm@latest` (but the problem was already solved).

### 2. node-sass
[code]

Fixed this way:
[code]

[2020-10-23 02:50] thicolares commented on #303
@pierredup it happens on `2.0.4`, but I cannot reproduce it on `2.1.0-dev`. I can say this bug was already fixed.
I noticed also the default value of Qtd is empty instead of `1`.

[2020-10-26 10:54] Cadair commented on #143
Having this prefix configurable per client, or even invoice would be a great addition as well.

[2020-11-20 10:02] zahoormit commented on #279
can you make a step by step video on its installation in locahost using xampp and upload it on youtube

[2020-11-23 20:26] Janl1 commented on #325
When will we get an amd64 image version of 2.0.4?

[2020-11-26 13:15] CookieCr2nk commented on #325
@Janl1 On which architechtures is this image working?

[2020-12-07 14:31] Janl1 commented on #325
@CookieCr2nk If you take a look at the current releases at [DockerHub](https://hub.docker.com/r/solidinvoice/solidinvoice/tags?page=1&ordering=last_updated) you will see that the tag latest is build for arm architecture which is for Rapsberry Pi and similar devices

[2020-12-14 07:20] CookieCr2nk commented on #325
Okey thanks, so i can use it on my Raspberry PI as a Workarround.

[2020-12-14 16:26] bluebridgetechnology opened #357 "Fa Icons Missing"
Hi Everyone, thanks for the amazing work done on this script.
I just installed it for the first time and noticed that all the fa-icons arent showing. I have reuploaded the font files and css files but its still the same.

![Settings](https://user-images.githubusercontent.com/33387790/102106949-d86cd080-3e39-11eb-85da-4ece3a63b821.png)

[2020-12-17 19:14] asavageiv opened #358 "Customizable Invoice File Names"
**Is your feature request related to a problem? Please describe.**
I save my invoice files to a directory for backup and names like "Invoice #1.pdf" are not descriptive enough.

**Describe the solution you'd like**
I want to customize the file names the same way I customize e-mail subjects. E.g. "Savage Software Engineering Invoice #1 - 2020-12-21"

**Describe alternatives you've considered**
I ca

[2020-12-18 06:48] pierredup commented on #357
Hi @bluebridgetechnology. Thank you for the report.

It looks like there might be a rewrite rule missing in the `.htaccess` file.

Can you please update your WebServer directory to use the `web` folder instead of the root directory?

[2020-12-18 10:33] pierredup commented on #325
Sorry for the delay, I just pushed an updated image on Docker for linux/amd64.
You can just pull the latest `solidinvoice/solidinvoice:2.0.4` tag.
If you still want to run SolidInvoice on arm-based devices, then you can use the `solidinvoice/solidinvoice:2.0.4-arm` tag

[2020-12-18 10:33] #325 closed

[2020-12-18 10:35] pierredup commented on #303
This has been fixed in #347 and will be part of the upcoming 2.1 release.

[2020-12-18 10:35] #303 closed

[2020-12-18 10:38] pierredup commented on #279
@zahoormit Unfortunately I don't have access to a Windows computer, so making an installation video will only be targeted for Mac users. But I'll definitely look at improving the docs and make it more clear how to install.

[2020-12-18 10:38] pierredup commented on #279
I'm closing this issue as I think all issues should be resolved. If there are still any issues with the installation, please feel free to re-open this.

[2020-12-18 10:38] #279 closed

[2020-12-22 11:25] bluebridgetechnology commented on #357
Hi,
thanks for your response.
This is the .htaccess codes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^css(.*)$ web/css/$1 [L]
    RewriteRule ^images(.*)$ web/images/$1 [L]
    RewriteRule ^js(.*)$ web/js/$1 [L]
    RewriteRule ^uploads(.*)$ web/uploads/$1 [L]
    RewriteRule ^bundles(.*)$ web/bundles/$1 [L]
    RewriteRule ^swf(.*)$ web/

[2020-12-22 12:44] bluebridgetechnology commented on #357
Okay so in the installation I had to specifiy the "web" directory and all the icons were showing,but when you get to the config page its all messed up an nothing is selectable

[2020-12-22 15:27] pierredup commented on #357
Do you mind pasting a screenshot of what it looks like?

[2021-01-16 05:25] fd6130 opened #361 "Exception throw during creating database schema"
I have mariadb in my local machine,  during creating database schema in installation page i get the following exception:

[code]

[2021-01-16 05:28] fd6130 commented on #293
I see they have convertion helper method in "MoneyBundle", so that's why they save it in integer.

[2021-01-31 08:29] parijke opened #364 "demo throws 401 when trying to create a customer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-03 20:52] peternagelsa commented on #357
Where precisely do you specify the "web" directory please?

[2021-02-03 20:55] peternagelsa commented on #357
Please clarify how do I update the webserver directory to use the web folder and not the root directory. Fa icons not showing as well as payment gateways, I assume most assests will not show?

[2021-02-03 21:00] pierredup commented on #357
@peternagelsa Please have a look at the webserver configuration at https://docs.solidinvoice.co/en/latest/guide/getting_started/webserver.html. If you use Apache or Nginx, then you can follow the recommended config on that page

[2021-02-03 21:04] peternagelsa commented on #357
Thanks Pierre for the swift reply. It is appreciated!

[2021-02-03 21:16] peternagelsa commented on #357
Pierre

May I 'bug' you again please. I am setting this up for a friend of mine, but he has a domain on shared hosting. I installed the software on a subdomain. Is there any other way to point the system to use /web and not /root if I cannot set up a custom virtual host?

Thanks in advance

[2021-02-03 21:50] pierredup commented on #357
@peternagelsa On shared hosting, it's a bit tricky to use the `web` folder.
In the upcoming version 2.1, this has been improved quite a bit to make some of the rewrites easier, but for the current stable version, it takes some extra effort.

I'm going to make a few assumptions here, and try to explain it best I can base on the assumptions (if any of them is incorrect, please feel free to correct m

[2021-02-03 22:06] peternagelsa commented on #357
Hi Pierre, I genuinely appreciate this. Your assumptions were all spot on and SolidInvoice runs like a charm.

[2021-02-08 09:16] pierredup commented on #357
I'm closing here, as I think the issues should be sorted. Feel free to re-open if there are any other issues.

[2021-02-08 09:16] #357 closed

[2021-02-21 23:19] Lehj14 commented on #364
Hi @pierredup , I want to contribute and help but when i try to use docker and config db I get 500 Internal Server Error

The following error occurred:

An exception occurred in driver: SQLSTATE[HY000] [2002] No such file or directory

Any help on setting my dev?

[2021-02-26 17:05] peternagelsa commented on #357
Hi Pierre

Just wondering when you plan to release 2.1 of Solid Invoice? I downloaded the latest code but it fails to initiate the install (error 500).

Thanks in advance

Peter

Business WhatsApp 067 906 1931

Communication Platform  <https://digitalhub.capetown/> https://digitalhub.capetown

Virtual Office Space  <https://digitalhub.africa/> https://digitalhub.africa

eMail  <mailto:billing@fusi

[2021-02-26 18:02] pierredup commented on #357
@peternagelsa I still need to re-work the notifications and fix a couple of small bugs then 2.1 should be ready. Currently, I can't give a timeline but hoping to get to it very soon.

[2021-03-07 20:28] OverboredThekid opened #365 "Payment Bug"
Describe the bug:
After sending out a payment invoice to a client and selected to pay it sends the client to a different page stating they have paid without going to the respective payment portal

To Reproduce
Steps to reproduce the behavior:
go to 'invoices'
then 'create invoice'
select any user and for any amount
Click 'save and send'
next click 'send' (don't know if this is another bug but you

[2021-03-15 07:34] OverboredThekid commented on #365
I updated the format, sorry for not doing it in the first place. hoping this gets fixed soon, we really like this program! hope to hear back from support soon! :D

[2021-03-22 18:35] pierredup commented on #365
@OverboredThekid Thanks for the report. I'm busy looking into this but need a bit more info, please.

* What version of SolidInvoice are you using?
* What payment gateway are you using?
* Are you experiencing this issue with specific payment gateways or all of them>

[2021-03-22 19:42] pierredup commented on #364
@Lehj14 Can you please open a new issue, so that we can track and work on it separately from this reported issue? Thanks.

[2021-03-22 19:50] OverboredThekid commented on #365
Thank you,

I’m using version 2.0.4

Stripe, and paypal (both checkouts)

I only have a PayPal and stripe account and both methods are having the same issue

[2021-03-22 19:53] pierredup commented on #365
Thanks for the feedback @OverboredThekid. I'll see if I can replicate it and provide a fix

[2021-03-29 01:44] OverboredThekid commented on #365
If it would help at all I can send in a video or give you access to the files. I'm still having the same issue

[2021-03-29 07:49] pierredup commented on #364
This has been resolved on the demo.

[2021-03-29 07:49] #364 closed

[2021-04-19 18:01] JamirHossainAfridi opened #373 "Install on localhost Error"
i am following https://docs.solidinvoice.co/en/latest/guide/getting_started/webserver.html#configuring-apache to install SolidInvoice on my localhost. But when i run php bin/console server : run i get

In ExposedRoutesExtractor.php line 259:
  Type error: implode(): Argument #2 ($array) must be of type ?array, string given
how can i fixed it.
php version : 8.0.3
SolidInvoice version : 2.0.4

[2021-04-19 19:06] pierredup commented on #373
@JamirHossainAfridi SolidInvoice version 2.0.4 is not compatible with PHP 8. Only the upcoming 2.1 version is compatible with PHP 8 (current 2.x branch). You can either use PHP 7.4, or try using the `2.x` branch.

[2021-04-19 19:06] #373 closed, assigned to nobody

[2021-04-20 05:52] JamirHossainAfridi commented on #373
i have tried with php version 7.4.16 and got  "There are no commands defined in the "server" namespace" error.

[2021-04-24 13:51] smilebasti opened #374 "Installation fails: packages.json could not be downloaded"
I tried installing SolidInvoice following the Docs for Distribution Package.
The Step Using Composer throws following Error:
[Composer\Downloader\TransportException]
  The "https://repo.packagist.org/packages.json" file could not be downloaded: failed to open stream: Connection timed o
  ut.

I tried to get the package with wget. It timed out with the IPv4 Address but for the IPv6 it worked. (Retr

[2021-04-27 19:44] OverboredThekid commented on #365
Hello, I’m just seeing if there has been any update or progress on my issue??

[2021-04-29 05:09] pierredup commented on #374
@smilebasti This could be due to network issues on your side, where Composer can't connect to packagist.org.
The `packages.json` shouldn't be downloaded to the project, it is used to determine dependency versions which then gets downloaded to the `vendor` folder. So unfortunately, there is no manual way of installing the dependencies other than using `composer install`

[2021-05-07 00:17] ktwoncails opened #379 "process?action=createdb 404"
Issues installing SolidInvoice via the distribution package on Ubunutu 20 with PHP 7.4, MYSQL 8 and Apache.

Unable to get past the create database schema. There appears to be a 404 on process?action=createdb
![SolidInvoice createdb](https://user-images.githubusercontent.com/83794059/117380499-a878a500-ae8e-11eb-86b5-891a678bf024.png)

Looking at the Apache logs, I receive this error
![apache-erro

[2021-05-28 10:02] Blejzer opened #383 "Demo is not working"
**Describe the bug**
Demo at demo.solidinvoice.co is not working. Cannot get logged it. Get the following error
"The following error occurred:
Bad credentials."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://demo.solidinvoice.co/'
2. Click on 'Login'

**Expected behavior**
Show next page

[2021-05-28 10:45] pierredup commented on #383
Thanks, @Blejzer, the demo is working again now.

[2021-05-28 10:45] #383 closed, assigned to pierredup

[2021-06-14 20:12] ktwoncails commented on #379
It appears as it has something to do with the rewrite.

install/process?action=createdb returns 404
app.php/install/process?action=createdb returns a result.

Any thoughts?

[2021-06-17 05:49] pierredup commented on #379
Hi, @ktwoncails. Thanks for the report.
This usually happens if you don't have the proper rewrites set up on your setup (as you rightfully noted as well). Which web server are you using (Nginx or apache), and what does your config look like?

This is already fixed in the master branch for the upcoming 2.1 release, so you can try using the master branch as well.

[2021-06-17 05:53] pierredup commented on #374
@smilebasti Closing for now, let me know if you still experience any issues.

[2021-06-17 05:53] #374 closed, assigned to pierredup

[2021-06-17 16:16] ktwoncails commented on #379
Thanks @pierredup,
I'm running Apache/2.4.46. I just disabled rewrite and then re-enabled rewrite and it's now working as expected.

[2021-06-17 16:16] #379 closed, assigned to pierredup

[2021-06-22 05:54] spiritua opened #388 "Run app"
npm run build and npm run server

not found
npm ERR! Missing script: "build"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\PC\AppData\Local\npm-cache\_logs\2021-06-22T03_29_33_823Z-debug.log

[2021-06-22 10:41] spiritua commented on #388
i have many problem for installation, please can you help me?

[2021-07-15 01:04] Nxtra opened #389 "Download invoice as pdf via the API"
**Is your feature request related to a problem? Please describe.**
I would like to request to pdfs of all my invoices via the API.
Is this already possible? Maybe I overlooked it.
Or is this something that can be added.

**Describe alternatives you've considered**
Downloading manually but I cannot automate this

[2021-07-15 05:09] pierredup commented on #389
This is not something that is currently available, but I'll add it to the next milestone so that this feature can be added to the next release.

[2021-07-27 16:49] bmcgonag opened #390 "[QUESTION] How / Where can you change the base url?"
After running this with Docker-compose the first time, I noticed thta the base URL seemed to affect how the system works from a routing perspective.

I want to make my system run through a reverse proxy now, but know I need to change the base url, but can't seem to find where to change it.

Any help is greatly appreciated.  this looks like a tremendous app.

[2021-09-06 15:03] lonesomewalker opened #394 "Missing first letter from client address"
**Describe the bug**
Client address is missing the first letter on quote, and also print/pdf version.

**To Reproduce**
add a new client, create new quote, fill all fields for the client.

**Expected behavior**
Should show every line as saved in database (yes, it is saved correctly), and not cutting of first letter/replace it by space.

**version**
2.0.4

[2021-09-06 15:59] zerai opened #395 "[Question] php extension req (ext-zip) in dev dependencies (composer.json)"
hi
is that correct?

[code]

**Additional context**
here the [PR](https://github.com/SolidInvoice/SolidInvoice/pull/292/files)

[2021-09-17 16:36] mrchainman opened #396 "Issues with Content over http"
**Describe the bug**
I am using the Dockerimage and am running it behind the nginx proxy manager.
On all other services, I can just leave http as the backend connection and it works.
With Solidinvoice, I get warned about content being loaded over http.
I don't know how big of a deal it is, but since on the demo version of Solidinvoice I don't get any warnings something must be configured wrong.

*

[2021-10-23 02:38] SelfSufficient08 commented on #365
I have the same exact issue.  Trying to use Stripe.  Awesome product and am hoping this gets resolved.

[2021-11-24 03:45] ghost opened #397 "Solidinvoice using docker image"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup
2. run mysql server
3. click next in the ui
4. See error

**Expected behavior**
I'm trying to install solidinvoice using provided docker images and i'm getting a mysql linking error.

**Screenshots**
If applicable, add screenshots
![image (4)](https://user-images.git

[2021-12-17 02:06] OverboredThekid commented on #365
Hey, I'm just wondering if there has been any update on this problem?

[2021-12-21 15:36] pierredup commented on #365
@OverboredThekid Sorry for the delay. I managed to find the issue and I'm busy working on a fix in #400 (along with some other issues around payments that I picked up while testing).
This issue will only be fixed in the 2.1 release, which should be released within the next month.

[2022-01-22 11:52] #365 closed

[2022-02-09 16:14] shakeebshaan commented on #397
what is the solution to this

[2022-03-13 13:58] UnknownArti commented on #397
Only solution that I found is to allow external connections to your mysql server and then set the mysql user to  docker's internal address, which for me is 'solidinvoice'@'172.0.0.1', you'll also have to specify your external IP as the hostname for the mysql database.

[2022-03-31 17:50] ktwoncails opened #411 "PDF Watermarks"
Hi guys,

I'm just wondering if there is a way to remove the PENDING watermark on the quote and invoice pdfs?

Thanks

[2022-04-01 12:04] bmcgonag commented on #397
You can alternatively run mysql container / mariadb container inside the same docker-compose file with solid invoice.  That's what I did.  I just setup both as containers.

[2022-06-30 15:49] julianobst commented on #396
@mrchainman did you change the protocol from http to https of the base URL during the installation?
![image](https://user-images.githubusercontent.com/12269611/176720672-d3f94316-76e2-4658-b295-5614920f3054.png)

After I changed this, the application worked correctly for me.

Greetings,
Julian

[2022-07-26 21:57] NF11 commented on #137
hi, is this issues still open ?

[2022-09-10 15:40] pierredup commented on #411
Hi @ktwoncails

A setting to enable/disable this has been added in #431 and will be included in the 2.2.0 release

[2022-09-10 15:42] pierredup commented on #395
Hi @zerai I'm not sure why it was added to require-dev. We don't use the `zip` extension explicitly, so this definitely should be in the `require` section, but I also don't think we need it as part of any dev dependencies, so it would probably be safe to just remove it completely from the composer.json file

[2022-09-10 15:45] pierredup commented on #394
@lonesomewalker I was unable to reproduce this on the latest 2.1.0 release. If this is still an issue, please let me know, and please include a screenshot of the issue.

[2022-09-17 22:57] mariushosting opened #432 "Latest Docker image 2.1.0 point to the old 2.0.4 version"
Latest Docker image 2.1.0 points to the old 2.0.4 version image
@pierredup

[2022-09-18 13:22] pierredup commented on #432
@mariushosting I haven't built and pushed any new docker images yet for the new release. I'll try and get to it within this week

[2022-09-18 13:34] mariushosting commented on #432
Thank you so much for the effort!

[2022-09-21 16:42] GargDivanshu commented on #137
Hey is the issue still opened? I can give this a shot

[2022-09-22 06:08] pierredup commented on #432
@mariushosting I have pushed docker images for version 2.1.0, and have also updated the `latest` tag to 2.1.0

[2022-09-22 06:08] #432 closed, assigned to pierredup

[2022-09-23 07:23] mariushosting commented on #432
Unfortunately I can't get it working. The server returned a "500 Internal Server Error" after add the correct Database Config. No error in the previous 2.0.4 version.

[2022-09-23 07:45] mariushosting commented on #432
![server error](https://user-images.githubusercontent.com/37554361/191913810-b1dec314-bc54-4e22-86b3-38ecb98a003f.png)
@pierredup

[2022-09-23 13:16] zerorail opened #447 "Multi-tentant"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-23 13:34] pierredup commented on #447
@sparkmobi Can you please update the description with your question/query/suggestion? Based on the title, I'm not sure exactly what this issue is about or what you are requesting.

[2022-09-26 19:53] mariushosting opened #459 "Docker 500 Internal Server Error"
Docker Release 2.1.0 is bugged

As explained here> https://github.com/SolidInvoice/SolidInvoice/issues/432

Every time you try to install it
Returned a "500 Internal Server Error" after add the correct Database Config. No error in the previous 2.0.4 version.
![191913810-b1dec314-bc54-4e22-86b3-38ecb98a003f](https://user-images.githubusercontent.com/37554361/192367425-650bbb6c-54da-42b0-8f02-c06346

[2022-09-26 19:53] rongkn opened #460 "The server returned a "500 Internal Server Error"."
My install using docker  just quit working  and when I launched the application it comes up with the default config page and if you follow the steps it always bombs with 500 Internal Server error. I have saved the database folder in the file manager and recreated the install from scratch and still no mater what I try to do it always comes up with the 500 Internal Server Error. I have attached a co

[2022-09-26 23:00] mariushosting commented on #460
@pierredup same error, already opened a ticket about the issue.

[2022-09-27 13:17] pierredup commented on #460
Closing as duplicate of #459

[2022-09-27 13:17] #460 closed, assigned to nobody

[2022-09-27 13:18] pierredup commented on #459
@mariushosting @rongkn Can you please try again with the latest docker image? (or version 2.1.1)

[2022-09-27 13:29] mariushosting commented on #459
@pierredup Now it's working! Only the name at the top of the page (TAB) is not correctly set up when creating the database :-)
![afScreenshot 2022-09-27 16 23 14](https://user-images.githubusercontent.com/37554361/192539776-0e59f0b8-e445-439a-89a5-83f2e10a1fcf.png)

[2022-09-27 13:48] mariushosting commented on #459
And something unrelated to the issue: the email in the dashboard is not properly centered and changing themes under system settings is not working.
![not relatedUntitled8](https://user-images.githubusercontent.com/37554361/192544191-2551cb11-0d97-462f-8673-3afa92330b85.png)

Hope this helps! I love SolidInvoice!

[2022-09-28 12:55] pierredup commented on #459
Thanks for the feedback @mariushosting! I have created PRs (#463 and #464) to address the issues you mentioned.

[2022-09-28 12:55] #459 closed, assigned to pierredup

[2022-09-28 12:57] pierredup commented on #397
New docker images have been published for the latest version of SolidInvoice. If there are still any issues, please feel free to open a new issue.

[2022-09-28 12:57] #397 closed, assigned to pierredup

[2022-09-28 12:58] pierredup commented on #361
@fd6130 Can you please check again with the latest version of SolidInvoice, and let me know if you still experience any issues.

[2022-09-30 15:13] Plaschke-Culturall opened #467 "500 internal server error when viewing a client without error log"
Hi!
I just installed Solidinvoice 2.1.1 on Debian 11 with Apache 2.4.54, PHP 7.4.30 and MariaDB 10.5.15
The setup was successful and I can create a new client. But after i click on "Save Client" I get a 500 internal server error.

When I go back to the list of clients, the new client shows up but when I try to view it I also get the 500 error. (Also when I try to create a new invoice after that).

[2022-09-30 18:00] pierredup commented on #467
Hey @Plaschke-Culturall. Thanks for the report.
In the SolidInvoice directory, there should be logs available in the `var/log` directory (usually `var/log/prod.log`). I'll try to replicate the issue and see if I can spot the problem, but if you can attach the log file, that would help a lot.

[2022-10-03 10:05] Plaschke-Culturall commented on #467
Thanks for the quick reply!

The logfile var/log/prod.log doesn't get any new lines when I reproduce the error 500.
It currently only contains the following lines:
_______________________________________________________________
root@debian11:/var/www/solidinvoice/var/log# tail -100 prod.log
[2022-09-30T15:09:18.166529+02:00] console.CRITICAL: Error thrown while running command "cron:run -e prod -n

[2022-10-04 11:04] Plaschke-Culturall commented on #467
I did the whole installation again and now I am able to create, view and edit a client.
I can also create a new invoice, but when I try to edit this invoice I again get a 500 internal server error.
The logfile /var/www/solidinvoice/var/log/prod.log now reads:
_____________________________________________________________________________
[2022-10-04T12:42:47.282338+02:00] request.INFO: Matched route

[2022-10-18 06:00] pierredup commented on #467
@Plaschke-Culturall Apologies for the delay, I managed to reproduce the error, and have a fix available in #508. It will be released as part of the 2.1.2 release

[2022-10-18 08:31] #467 closed, assigned to pierredup

[2022-10-26 17:45] rongkn commented on #459
@mariushosting  @pierredup still have a issue with 2.1.1.-dev get the following error when try and pay now , only credit works all the other fail with  Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

I have been pr

[2022-10-26 17:48] rongkn opened #518 "> Oops! An Error Occurred The server returned a "500 Internal Server Error"."
@mariushosting  @pierredup still have a issue with 2.1.1.-dev get the following error when try and pay now , only credit works all the other fail with  Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

I have been pr

[2022-11-12 10:30] pierredup commented on #518
The `500 Internal Server Error` will be fixed with #535 and released as part of the 2.1.2 version.

That is due to the size of the image that has been uploaded for the logo. You can reduce the size of the image and upload a smaller image to fix the issue. We might add the option to resize the logo when uploading it in a future version.

[2022-11-12 10:32] pierredup opened #536 "Resize logo when uploading an image"
**Is your feature request related to a problem? Please describe.**
Issue partly related to #518, the size of the logo uploaded is very large and causes layout issues on the login page.

**Describe the solution you'd like**
Automatically resize the logo to a pre-defined value when uploading the logo to always fit in on the login page.

**Describe alternatives you've considered**
N/A

**Additional c

[2022-11-12 12:56] #518 closed, assigned to nobody